@media (min-width: 1000px) {
    .image-column {
        border-Right: groove green;
    }
}

.image-container {
    position: relative;
    display: inline-block;
}

.tipo-excursion {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

@media (max-width: 1000px) {
    .description {
        border-top: groove green
    }
}