/* .cartWidgetCounter {
    color: white;
    font-size: 20px;
    text-decoration: none
} */


.cartWidgetCounter {
    float: right;
    text-align: center;
    border-radius: 50%;
    background-color: #9ed699;
    box-shadow: 0px 0px 9px 3px #3e533c;
    color: #ffffff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 0.8rem;
    position: relative;
    left: 20px;
    top: -10px
}