.card-img-top {
    max-height: 250px;
}

.card {
    max-width: 408px;
    margin: 0 auto;
}

.item-detail {
    color: green;
    text-decoration: none
}

.item-detail:hover {
    font-weight: 700;
    color: green;
    transform: scale(0.9);
    text-decoration: none
}