.title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
}


.item {
    padding: 20px;
    display: flex;
    border-bottom: 1px solid #E1E8EE;
    align-items: center;


}

.cartItemImage img {
    max-height: 250px;
    max-width: 250px;
}

.details {
    display: flex;
    flex-direction: column
}